doctype html

include styles.pug

html
  head
    meta(charset="utf-8")
    title Fanfiction archive search
    +styles(self.darkMode)
  body
    div.main
      div.header-row
        h3.no-margin Fanfiction archive search
        div.help-wrapper
          img.help-icon(src="/help.svg")
          div.instructions
            span
              | You can write tokens separated by commas into every 
              | text field in following form. Example: entering 
              | "foo, bar" into "Title (at least one of these)" field 
              | will search for works that contain either "foo" or "bar"
              | in title. Entering  "foo, bar" into "Title (all of these)"
              | field will search for works that contain both "foo" or
              | "bar" in title in any order.
      form#query
        each generic in self.genericFields
          - const andId = `${generic}And`;
          - const orId = `${generic}Or`;

          label(for=orId) #{generic}
          label.hint-label(for=orId) at least one of these
          input(id=orId value=self.query[orId])
          label.hint-label(for=andId) all of these
          input(id=andId value=self.query[andId])

        label.exclude-warnings-label(for="WarningsExclude") Exclude warnings
        input.exclude-warnings-input#WarningsExclude(value=self.query.WarningsExclude)

        div.boxes
          label Languages
          div.checkbox-group.col2#languages
            each entry in self.languages
              - const [code, language] = entry
              label(for=`lang-${code}`) #{language}
              input(type="checkbox" id=`lang-${code}` data-language=code)

          label(style="text-align: right") Sources
          div.checkbox-group#sources
            each entry in self.sources
              - const [code, name] = entry
              label(for=`source-${code}`) #{name}
              input(type="checkbox" id=`source-${code}` data-source=code)
              div

        button.submit(type="submit") Search
      script(src="/search.js")
