doctype html

include pagination.pug
include story.pug
include styles.pug

html
  head
    meta(charset="utf-8")
    +styles(self.darkMode)
    title Search results (#{self.from}-#{self.to} of #{self.length})
  body
    div.results#results
      h3.results-header Search results (#{self.from}-#{self.to} of #{self.length})
      a.home(href=self.backURL) Change search query
      div.results-container
        each story in self.stories
          +story(story)
    +pagination("pagination")
    script(src="/results.js")
